@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.button-gradient-border {
  position: relative;
  display: inline-block;
  padding: 2px; /* Space for the border */
  border-radius: 1.5rem; /* Tailwind's rounded-xl */
}

.button-gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 2px; /* Same as outer padding */
  background: linear-gradient(to right, #e8710b, #fcc92f);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.button-gradient-border .button-content {
  position: relative;
  display: inline-block;
  background-color: white; /* Your button's background color */
  border-radius: inherit;
}

/* Ensure the controls are responsive */
.video-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Add any additional responsive styles here */
}

.video-control-button {
  margin: 0 10px;
  /* Ensure button sizes are appropriate for mobile */
}