.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.control-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.control-button {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-button:hover {
  background-color: #bbb;
}

.control-button--up {
  grid-column: 2;
  grid-row: 1;
}

.control-button--down {
  grid-column: 2;
  grid-row: 3;
}

.control-button--left {
  grid-column: 1;
  grid-row: 2;
}

.control-button--right {
  grid-column: 3;
  grid-row: 2;
}

.control-button--pressed {
  background-color: #aaa;
}
